body{
	background-color:black;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*HEADER HADER*/
.principal{
	width: 100%;
}

.Bio-info{
	width: 100%;
	height: 575px;
	position: relative;
	overflow: hidden;
}

.Bio-info video {
	width: 100%;
	filter: brightness(50%);
}
.Bio-info .pe-info #sub-title{
	display: flex;
	justify-content: center;
}


/*Todo el codigo que va dentro de la clase pe-info*/
/**************************************************/

.pe-info{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: block;
	justify-content: center;
	z-index: 100;
	color: white;
}
.pe-info img{
	width: 240px;
	border-radius: 50%;
	margin-top: 50px;
}

.pe-info #bio-title{
	font-size: 35px;
	font-family: 'noto serif',serif;
	color: white;
	margin-top: 30px;
}
.pe-info #container-presentation{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pe-info #container-presentation #typed{
	width: 40%;
	display: flex;
	justify-content: center;
}

.my-information{
	color: #c99806;
}

.pe-info #container-presentation #speciality{
	letter-spacing: 2px;
	font-style: italic;
}
.pe-info #container-presentation #resume{
	width: 50%;
}


/*PROGRAMACION PARA EL MAIN*/
/***************************/


.principal main{
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*Inicio del about me*/
.principal main #about-title{
	margin-top: 100px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.linea{
	background-color: rgb(90, 202, 247);
	border: 1px solid rgb(90, 202, 247);
	flex-basis: 30%;
}

.principal main #about-me{
	width: 30%;
	text-align: center;
	background-color: black;
	border-radius: 7px;
	color:rgb(90, 202, 247);
	font-family: 'noto serif',serif;
	letter-spacing: 2px;
	font-size: 50px;
}

.principal main #about{
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 50px;
	border-radius: 10px;
	padding: 20px;
	text-align: justify;
	color: white;
	border: 1px solid  rgb(90, 202, 247);
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: rgba(46, 46, 46, 0.7);
}

.principal main #about button{
	background-color:  rgb(90, 202, 247);
	padding: 10px;
	width: 35%;
	margin-top: 20px;
	border-radius: 8px;
}
.principal main #about button a{
	color: black;
	text-decoration: none;
}

/*Fin del about me*/


/*INICIO SKILLS*/
.principal main #skills-title{
	margin-top: 100px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.principal main #skills-title #skills{
	width: 30%;
	text-align: center;
	background-color: black;
	border-radius: 7px;
	color:rgb(90, 202, 247);
	font-family: 'noto serif',serif;
	letter-spacing: 2px;
	font-size: 50px;
}

.principal main #skills-container{
	width: 75%;
	background-color: rgba(46, 46, 46, 0.7);
	border: 1px solid rgb(90, 202, 247) ;
	border-radius: 10px;
	margin-bottom: 100px;
	overflow: hidden;
}
.principal main #skills-container #front-end{
	flex-basis: 50%;
	text-align: center;
}
.principal main #skills-container #front-end h3{
	color:white;
	letter-spacing: 5px;
	font-style: italic;
}

#backend-icon{
	font-size: 30px;
	padding: 5px;
	border: 2px solid white;
	color: white;
	margin-bottom: 10px;
}
#frontend-icon{
	font-size: 30px;
	padding: 5px;
	border: 2px solid white;
	color: white;
	margin-bottom: 10px;
}
.principal main #skills-container .skills-using{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}
.principal main #skills-container .cards{
	flex-basis: 25%;
	margin-top: 15px;
}
.principal main #skills-container .cards p{
	color: white;
}
.principal main #skills-container .cards .icon{
	font-size: 35px;
}

.principal main #skills-container .cards .icon:hover{
	transform: scale(1.3);
	cursor: pointer;
}

/*FIN SKILLS*/

.principal main #projects-title{
	margin-top: 100px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main #title-projects{
	width: 30%;
	text-align: center;
	background-color: black;
	border-radius: 7px;
	color:rgb(90, 202, 247);
	font-family: 'noto serif',serif;
	letter-spacing: 2px;
	font-size: 50px;
}

main section{
	width: 100%;
	height: auto;
	padding: 20px;
}

main section .project-container{
	width: 90%;
	display: flex;
	margin-bottom: 30px;
}

main section .project-container .project-information{
	flex-basis: 75%;
	padding: 25px;
	color: white;
}
main section .project-container .project-information h1{
	font-style: italic;
}
main section .project-container .project-information p{
	font-size: 25px;
}

main section .project-container .project-information button{
	width: 20%;
	padding: 10px;
	border-radius: 20px;
	background-color:rgb(90, 202, 247) ;
	border: none;
}
main section .project-container .project-information a{
	text-decoration: none;
	color: black;
}


main section .project{
	width: 25%;
	height: 350px;
	margin-left: 28px;
	margin-bottom: 15px;
	display: inline-block;
	box-shadow: 0px 0px 10px rgb(9, 57, 187);
	border-radius: 5px;
	background-size: cover;
	padding: 0;
	opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all ;
}
main section .project.visible{
	opacity: 1;
	transform: scale(1);
}


main section .project .img-project{
	width: 100%;
	height: 325px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
}

main section .footer-project{
	width: 100%;
	height: 25px;
	background-color: black;
	display: flex;
}


main section .footer-project ul{
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

main section .footer-project ul li{
	color: rgb(90, 202, 247);
	font-size: 20px;
}







/******AQUI IRAN LAS IMAGENES DE LOS PROYECTOS********/
/******************************************************/
main section #project-1{
	background-image: url(../img/cschool.PNG);
	background-position: center;
	position: relative;
}
main section #project-2{
	background-image: url(../img/weather2.PNG);
	background-position: center;
	background-size: cover;
	position: relative;
}


main section #project-3{
	background-image: url(../img/pet.PNG);
	background-position: center;
	background-size: cover;
	position: relative;
}
main section #project-4{
	background-image: url(../img/appGastos.PNG);
	background-position: center;
	background-size: cover;
	position: relative;
}

/******AQUI TERMINAN LAS IMAGENES DE LOS PROYECTOS******/
/*******************************************************/








/*********AQUI DENTRO IRAN TODOS LOS OVERLAY***************/
/**********************************************************/

main section #project-1 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-1 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-1 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-1:hover .overlay{
	width: 100%;
	opacity: 0.7;
}
.texto-tool{
	position: relative;
}
.texto-tool .tooltiptext{
	visibility: hidden;
	width: 80px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 13px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
}

.texto-tool:hover .tooltiptext{
	visibility: visible;
}

                                 /*Aqui incia el segundo proyecto overla*/

main section #project-2 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-2 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-2 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-2:hover .overlay{
	width: 100%;
	opacity: 0.7;
}


                              /*Aqui inicia el tercer proyecto overla*/
main section #project-3 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-3 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-3 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-3:hover .overlay{
	width: 100%;
	opacity: 0.7;
}

/*INICIO CUARTO OVERLAR*/
main section #project-4 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-4 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-4 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-4:hover .overlay{
	width: 100%;
	opacity: 0.7;
}


/*FIN CUARTO OVERLAY*/


/*******************AQUI TERMINAN LOS OVERLAY**********/
/******************************************************/

/**INICIO DEL FOOTER*********/
footer{
	margin-top: 50px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
footer #footer-one{
	flex-basis: 30%;
}
footer #footer-two{
	flex-basis: 30%;
}
footer #footer-three{
	flex-basis: 30%;

	color:white;
}
footer #footer-one h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
}
footer #footer-two h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
}
footer #footer-three h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
}
footer #bio-container{
	display: flex;
	background-color: black;
}

#bio-container ul{
	display: flex;
	flex-direction: column;

}

#bio-container ul li{ /*dimension a los LI*/
	flex-basis:30px;
	height: 30px;
	display:flex ;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid rgb(90, 202, 247);
}

#bio-container ul li a{ /*Esto es para cambiarles de color a los iconos*/
	display: flex;
	text-decoration: none;
	background-color: black;
	justify-content: center;
	align-items: center;
	color:rgb(90, 202, 247);
	font-size: 25px; /*Hacer crecer el tamaño de los iconos*/
}
footer  #location{
	display: flex;
	justify-content: center;
}
footer  #location iframe{
	width: 50%;
	height: 200px;
}
footer #footer-one #bio-container ul li span{
	margin-left: 15px;
	color: white;
}
#browser{
    display: flex;
    justify-content: space-around;
}
#browser a img{
    width: 100%;
    height: 40px;
    margin: 5px;
}

/**FIN DE FOOTER**/


