*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	/*background-color: #CFCFCF;*/
	background-image: url(../img/pattern.png);
}

/*HEADER HADER*/
.principal{
	width: 100%;
}

.Bio-info{
	width: 100%;
	height: 575px;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid black;
}

.Bio-info video {
	width: 100%;
	filter: brightness(50%);
}
.Bio-info .pe-info #sub-title{
	display: flex;
	justify-content: center;
}
.Bio-info .pe-info #sub-title #frontend{
	animation: left-begin 2s linear;
}
.Bio-info .pe-info #sub-title #backend{
	animation: right-begin 2s linear;
}
.Bio-info .pe-info #sub-title #space{
	animation: spacer 2s linear;
}
@keyframes left-begin{
	from{transform: translateX(-1000%);}
	to{transform: translateX(0%);}
}
@keyframes right-begin{
	from{transform: translateX(1000%);}
	to{transform: translateX(0%);}
}
@keyframes spacer{
	from{transform: translateY(600%);}
	to{transform: translateY(0%);}
}

/*Todo el codigo que va dentro de la clase pe-info*/
/**************************************************/

.pe-info{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: block;
	justify-content: center;
	z-index: 100;
	color: white;
}
.pe-info img{
	width: 240px;
	border-radius: 50%;
	margin-top: 50px;
}

.pe-info #bio-title{
	font-size: 35px;
	font-family: 'noto serif',serif;
	color: white;
	margin-top: 30px;
}
.pe-info h5{
	font-family: 'noto serif',serif;
	font-size: 25px;
	letter-spacing: 2px;
}



/*PROGRAMACION PARA EL MAIN*/
/***************************/

/*AQUI INICIAN LAS SKILLS*/
/*************************/
#skills{
	background-color: black;
	height: 150px;
	overflow: hidden;
	width: 100%;
}

#skills h3{
	color:rgb(90, 202, 247);
	font-size: 30px;
	text-align: center;
	font-family: 'noto serif',serif;
	margin-bottom: 0;
	padding-top: 30px;
	z-index: 100;
}

#skills #panel ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

#skills #panel ul li{
	background-color: black;
	margin-right: 50px;
}

#skills #panel ul li:hover{
	transform: scale(1.3);
	cursor: pointer;
}
#skills #panel .size{
	font-size: 45px;
}
#skills #panel ul #js{
	color: yellow;
	animation: opa 7s linear;
}
#skills #panel ul #css{
	color: blue;
	animation: left2 3s linear;
}
#skills #panel ul #html{
	color: orangered;
	animation: left1 3s linear;
}
#skills #panel ul #node{
	color: green;
	animation: opa 7s linear;
}
#skills #panel ul #angular{
	color: red;
	animation: opa 7s linear;
}
#skills #panel ul #python{
	color: yellowgreen;
	animation: right2 3s linear;
}
#skills #panel ul #bootstrap{
	color: purple;
	animation: right1 3s linear;
}
@keyframes right1{
	from{transform: translateX(1000%);}
	to{transform: translateX(0%);}
}
@keyframes right2{
	from{transform: translateX(900%);}
	to{transform: translateX(0%);}
}
@keyframes left1{
	from{transform: translateX(-1000%);}
	to{transform: translateX(0%);}
}
@keyframes left2{
	from{transform: translateX(-900%);}
	to{transform: translateX(0%);}
}
@keyframes opa{
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

/*AQUI TERMINAN LAS SKILLS*/
/**************************/

.principal main{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*Inicio del about me*/
.principal main #about{
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	margin-bottom: 50px;
	padding: 20px;
	text-align: justify;
	border: 1px solid rgba(95, 94, 94, 0.712);
	position: relative;
	box-shadow: 0px 0px 5px rgb(90, 202, 247) ;
	justify-content: center;
	align-items: center;
	background-color: rgb(238, 237, 237);
}
.principal main #about h3{
	width: 30%;
	text-align: center;
	border-radius: 7px;
	background-color: rgb(90, 202, 247);
	color:black;
	font-family: 'noto serif',serif;
	letter-spacing: 2px;
	border: 1px solid black;
}
.principal main #about button{
	background-color: black;
	width: 35%;
	margin-top: 20px;
}
.principal main #about button a{
	color: white;
}

/*Fin del about me*/



main #title-projects{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 30px;
	font-family: 'noto serif',serif;
}

main section{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}



main section .project{
	width: 25%;
	height: 350px;
	margin-left: 28px;
	margin-bottom: 15px;
	display: inline-block;
	box-shadow: 0px 0px 10px rgb(9, 57, 187);
	border-radius: 5px;
	background-size: cover;
	padding: 0;
}

main section .project .img-project{
	width: 100%;
	height: 325px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
}

main section .footer-project{
	width: 100%;
	height: 25px;
	background-color: black;
	display: flex;
}


main section .footer-project ul{
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

main section .footer-project ul li{
	color: rgb(90, 202, 247);
	font-size: 20px;
}







/******AQUI IRAN LAS IMAGENES DE LOS PROYECTOS********/
/******************************************************/
main section #project-1{
	background-image: url(../img/cschool.PNG);
	background-position: center;
	position: relative;
}

main section #project-2{
	background-image: url(../img/weather2.PNG);
	background-position: center;
	background-size: cover;
	position: relative;
}

main section #project-3{
	background-image: url(../img/pet.PNG);
	background-position: center;
	background-size: cover;
	position: relative;
}
/******AQUI TERMINAN LAS IMAGENES DE LOS PROYECTOS******/
/*******************************************************/








/*********AQUI DENTRO IRAN TODOS LOS OVERLAY***************/
/**********************************************************/

main section #project-1 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-1 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-1 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-1:hover .overlay{
	width: 100%;
	opacity: 0.7;
}
.texto-tool{
	position: relative;
}
.texto-tool .tooltiptext{
	visibility: hidden;
	width: 80px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 13px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
}

.texto-tool:hover .tooltiptext{
	visibility: visible;
}

                                 /*Aqui incia el segundo proyecto overla*/

main section #project-2 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-2 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-2 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-2:hover .overlay{
	width: 100%;
	opacity: 0.7;
}


                              /*Aqui inicia el tercer proyecto overla*/
main section #project-3 .overlay{ 
	width:0%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.8);
	overflow: hidden;
	transition: 0.5s ease;
}

main section #project-3 .overlay-texto{
	top:50%;
	left:50%;
	width: 399px;
	position:absolute; /*posicionamiento del texto al iniciar*/
	white-space: nowrap;
	justify-content: center;
	text-align: center;
	color: white; /*color de la letra*/
	transform: translate(-50%, -50%);
	overflow:hidden; /*oculta el contenido que sale de la cada, es decir el que no cabe, se puede usar con hidden o scroll*/
	font-size: 20px;
	font-weight: 700;
}

main section #project-3 .overlay-texto a{
	display: inline-block;
	color: white;
	font-size: 35px;
	padding: 15px;
	justify-content: center;
	text-decoration: none;
}

#project-3:hover .overlay{
	width: 100%;
	opacity: 0.7;
}
/*******************AQUI TERMINAN LOS OVERLAY**********/
/******************************************************/

/**INICIO DEL FOOTER*********/
footer{
	margin-top: 100px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
footer #footer-one{
	flex-basis: 30%;
}
footer #footer-two{
	flex-basis: 30%;
}
footer #footer-three{
	flex-basis: 30%;

	color:white;
}
footer #footer-one h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
}
footer #footer-two h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
}
footer #footer-three h3{
	flex-basis: 80%;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
}
footer #bio-container{
	display: flex;
	background-color: black;
}

#bio-container ul{
	display: flex;
	flex-direction: column;

}

#bio-container ul li{ /*dimension a los LI*/
	flex-basis:30px;
	height: 30px;
	display:flex ;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid rgb(90, 202, 247);
}

#bio-container ul li a{ /*Esto es para cambiarles de color a los iconos*/
	display: flex;
	text-decoration: none;
	background-color: black;
	justify-content: center;
	align-items: center;
	color:rgb(90, 202, 247);
	font-size: 25px; /*Hacer crecer el tama単o de los iconos*/
}
footer  #location{
	display: flex;
	justify-content: center;
}
footer  #location iframe{
	width: 50%;
	height: 200px;
}
footer #footer-one #bio-container ul li span{
	margin-left: 15px;
	color: white;
}
#browser{
    display: flex;
    justify-content: space-around;
}
#browser a img{
    width: 100%;
    height: 40px;
    margin: 5px;
}

/**FIN DE FOOTER**/


/*INICIO RESPONSIVE*/
@media (max-width:1100px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
	}
}
@media (max-width:1020px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 560px;
	}
	main section .project{
		width: 25%;
		height: 300px;
		margin-bottom: 15px;
		display: inline-block;
		box-shadow: 0px 0px 10px rgb(9, 57, 187);
		border-radius: 5px;
		background-size: cover;
		padding: 0;
	}
	main section .project .img-project{
		width: 100%;
		height: 280px;
	}
}
@media (max-width:992px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 540px;
	}
}
@media (max-width:958px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 500px;
	}
	main section .project{
		width: 25%;
		height: 275px;
		margin-bottom: 15px;
		display: inline-block;
		box-shadow: 0px 0px 10px rgb(9, 57, 187);
		border-radius: 5px;
		background-size: cover;
		padding: 0;
	}
	main section .project .img-project{
		width: 100%;
		height: 250px;
	}
	footer{
		width: 100%;
	}
}
@media (max-width:888px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 460px;
	}
	main section .project{
		width: 25%;
		height: 275px;
		margin-bottom: 15px;
		display: inline-block;
		box-shadow: 0px 0px 10px rgb(9, 57, 187);
		border-radius: 5px;
		background-size: cover;
		padding: 0;
	}
	main section .project .img-project{
		width: 100%;
		height: 250px;
	}
	main section .footer-project ul li{
		color: rgb(90, 202, 247);
		font-size: 15px;
	}
	#bio-container ul li a{ /*Esto es para cambiarles de color a los iconos*/
		font-size: 20px; /*Hacer crecer el tama単o de los iconos*/
	}
	footer{
		width: 100%;
	}
	footer #footer-one #bio-container ul li span{
		font-size: 15px;
	}
	#browser a img{
		width: 100%;
		height: 30px;
		margin: 5px;
	}
}
@media(max-width:814px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 400px;
	}
	.principal .Bio-info .pe-info #bio-title{
		font-size: 20px;
	}
	.principal .Bio-info .pe-info #sub-title #frontend{
		font-size: 20px;
	}
	.principal .Bio-info .pe-info #sub-title #space{
		font-size: 20px;
	}
	.principal .Bio-info .pe-info #sub-title #backend{
		font-size: 20px;
	}
	#skills h3{
		font-size: 20px;
		padding-top: 20px;
	}
	#skills #panel .size{
		font-size: 35px;
	}
	#skills{
		height: 120px;
		overflow: hidden;
	}
	.pe-info img{
		width: 200px;
		border-radius: 50%;
		margin-top: 50px;
	}
	footer h3{
		font-size: 20px;
	}
	main #title-projects{
		font-size: 25px;
	}
}
@media(max-width:708px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 360px;
	}
	footer{
		width: 100%;
	}
}
@media(max-width:678px){
	.principal{
		width: 100%;
	}
	main #about h3{
		font-size: 15px;
	}
	main #about p{
		font-size: 12px;
	}
	main #about button a{
		font-size: 10px;
	}
	.principal main section{
		display: flex;
		flex-direction: column;
	}
	main section .project{
		width: 50%;
		height: 275px;
		margin-bottom: 25px;
		display: inline-block;
		box-shadow: 0px 0px 10px rgb(9, 57, 187);
		border-radius: 5px;
		background-size: cover;
	}
	footer{
		width: 100%;
	}
}
@media(max-width:638px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 310px;
	}
	.pe-info img{
		width: 170px;
		border-radius: 50%;
		margin-top: 30px;
	}
	.principal .Bio-info .pe-info #bio-title{
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.principal .Bio-info .pe-info #sub-title #frontend{
		font-size: 18px;
	}
	.principal .Bio-info .pe-info #sub-title #space{
		font-size: 18px;
	}
	.principal .Bio-info .pe-info #sub-title #backend{
		font-size: 18px;
	}
	footer h3{
		font-size: 15px;
	}
	#bio-container ul li a{ /*Esto es para cambiarles de color a los iconos*/
		font-size: 15px; /*Hacer crecer el tama単o de los iconos*/
	}
	footer{
		width: 100%;
	}
	footer #footer-one #bio-container ul li span{
		font-size: 12px;
	}
	footer #footer-two #location iframe{
		width: 80%;
		height: 190px;
	}
	#browser a img{
		width: 100%;
		height: 20px;
		margin: 5px;
	}
}
@media(max-width:570px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 290px;
	}
	#skills{
		height: 100px;
		overflow: hidden;
	}
	#skills h3{
		font-size: 15px;
		padding-top: 10px;
	}
	#skills #panel .size{
		font-size: 25px;
	}
	footer{
		width: 100%;
	}
}
@media(max-width:514px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 260px;
	}
	.pe-info img{
		width: 140px;
		border-radius: 50%;
		margin-top: 30px;
	}
	.principal .Bio-info .pe-info #bio-title{
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.principal .Bio-info .pe-info #sub-title #frontend{
		font-size: 15px;
	}
	.principal .Bio-info .pe-info #sub-title #space{
		font-size: 15px;
	}
	.principal .Bio-info .pe-info #sub-title #backend{
		font-size: 15px;
	}
	#skills #panel ul li{
		background-color: black;
		margin-right: 30px;
	}
	footer{
		width: 100%;
	}
	footer h3{
		font-size: 10px;
	}
	#bio-container ul li a{ /*Esto es para cambiarles de color a los iconos*/
		font-size: 12px; /*Hacer crecer el tama単o de los iconos*/
	}
	footer #footer-one #bio-container ul li span{
		font-size: 10px;
	}
	#browser a img{
		width: 100%;
		height: 15px;
		margin: 5px;
	}
	#footer-three #audor{
		font-size: 12px;
	}
}
@media (max-width:414px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 220px;
	}
	.pe-info img{
		width: 120px;
		border-radius: 50%;
		margin-top: 30px;
	}
	.principal .Bio-info .pe-info #bio-title{
		font-size: 10px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.principal .Bio-info .pe-info #sub-title #frontend{
		font-size: 10px;
	}
	.principal .Bio-info .pe-info #sub-title #space{
		font-size: 10px;
	}
	.principal .Bio-info .pe-info #sub-title #backend{
		font-size: 10px;
	}
	.principal main #about h3{
		width: 70%;
		font-size: 12px;
	}
	footer{
		width: 100%;
	}
	footer h3{
		font-size: 8px;
	}
	footer #footer-three{
		display: none;
	}
	footer #footer-two iframe{
		width: 100%;
	}
	main section .project{
		width: 70%;
	}
	.principal main #about button{
		width: 40%;
	}
}
@media(max-width:375px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 200px;
	}
	#skills{
		height: 80px;
		overflow: hidden;
	}
	footer{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	footer #footer-one{
		flex-basis: 50%;
	}
	footer #footer-two{
		flex-basis:50%;
		padding-right: 10px;
	}
}
@media(max-width:320px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 180px;
	}
	.pe-info img{
		width: 100px;
		border-radius: 50%;
		margin-top: 30px;
	}
	#skills #panel ul li{
		background-color: black;
		margin-right: 20px;
	}
	#skills #panel .size{
		font-size: 20px;
	}
	.principal main #about{
		width: 80%;
	}
	.principal main #about h3{
		width: 70%;
		font-size: 12px;
	}
	.principal main #about button{
		width: 60%;
	}
	footer{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	footer #footer-one{
		flex-basis: 50%;
	}
	footer #footer-two{
		flex-basis:50%;
	}
}
@media(max-width:280px){
	.principal{
		width: 100%;
	}
	.principal .Bio-info{
		width: 100%;
		height: 150px;
	}
	.pe-info img{
		width: 80px;
		border-radius: 50%;
		margin-top: 15px;
	}
	#skills h3{
		font-size: 11px;
		padding-top: 10px;
	}
	.principal main #about{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	footer{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	footer #footer-one{
		flex-basis: 50%;
	}
	footer #footer-two{
		flex-basis:50%;
	}

}
/*FIN RESPONSIVE*/

